<!DOCTYPE html>
<html>
  <head>
    <meta name="Description" CONTENT="Thoxyn is a hybrid blogging platform and social network. Sign up with Google today.">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--link href="/css/materialicons.css" rel="stylesheet"-->
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/landing.css" as="style">
    <link rel="manifest" href="/site.webmanifest" />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-5870636363510394",
        enable_page_level_ads: true
      });
    </script>
    <title>
      Thoxyn
    </title>
  </head>

  <body>
    <header>
      <br aria-hidden="true"><br aria-hidden="true"><br aria-hidden="true"><br aria-hidden="true"><br aria-hidden="true"><br aria-hidden="true"><br aria-hidden="true"><br aria-hidden="true"><br aria-hidden="true"><br aria-hidden="true"><br aria-hidden="true"><br aria-hidden="true">
      <div class="signin">
        <h5>Team 3061 Scouting</h5>
        <br>
        <a href="/auth/google" class="btn btn-grad-red"><i class="fa fa-google" aria-hidden="false"></i>&nbsp;&nbsp;Sign In with Google</a>     
      </div>
    </header>
    <footer>
    </footer>
  </body>
</html>
