<!DOCTYPE html>
<html>
<head>
	<title>Chat - Mentis</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- Bootstrap core CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<!-- Material Design Bootstrap -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.5/css/mdb.min.css" rel="stylesheet">        
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/riot@3.13/riot+compiler.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body style="background-color: snow;  -webkit-user-select: none;-webkit-tap-highlight-color: transparent; -webkit-touch-callout: none;">
	<topBar id="topBar"></topBar>
	<bottomBar id="bottombar"></bottomBar>
	<div class="container">
	<br>
		<chat></chat>
		<br>
		<br>
		<div class="jumbotron">
			<h1 class="display-4">Send Message</h1>
			<p>A user may not be connected to your lobby. Please, wait if that's the case. This chat serves as a way to connect with others in your journey.<br>
			You can refresh your browser to leave this conversation.</p>
			<br>
			<textarea id="message" class="form-control" placeholder="Your Message Here">
			</textarea>
			<br>
			<button id="send" onclick="buttonClicked()" class="btn btn-success"><i class="material-icons">send</i></button>
		</div>
	</div>

	<br><br><br><br><br>

	<script>
		let messages = []

   	var socket = io();

		window.onload = function() {
			document.getElementById('message').value = ""

			$.get('/messages', (data) => {
				data.forEach(addMessages);
			})	
			$('.input').keypress(function (e) {
  				if (e.which == 13) {
    				buttonClicked()
    				return false;    //<---- Add this line
	  			}
			});
		}
		 
		function buttonClicked() {
			if(document.getElementById('message').value.trim() != "") {
				sendMessage({name: "{{name}}", message: $("#message").val()});
				document.getElementById('message').value = ""
			}
    }

		console.log("{{listener}}")

    socket.on("{{listener}}", addMessages)

    function addMessages(message) {
      messages.push(message)

			riot.mount("chat", {    // this is basically client-side rendering 
			});
    }

    function sendMessage(message) {
      $.post('/messages', message)
    }
	</script>

	<script src="https://code.jquery.com/jquery-3.4.1.js"
			integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
			crossorigin="anonymous">
	</script>

	<script type="riot/tag" src="/tags/topBar.html"></script>
	<script type="riot/tag" src="/tags/bottomBar.html"></script>
	<script type="riot/tag" src="/tags/chat.html"></script>
	<script>
			riot.mount("topBar", {    // this is basically client-side rendering 
			});
			riot.mount("bottomBar", {    // this is basically client-side rendering 
			});
			riot.mount("chat", {    // this is basically client-side rendering 
			});
	</script>
</body>
</html>
