<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/riot@3.13/riot+compiler.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body style="background-color: snow;  -webkit-user-select: none;-webkit-tap-highlight-color: transparent; -webkit-touch-callout: none;">
	<topBar id="topBar"></topBar>
	<bottomBar id="bottombar"></bottomBar>
	<div class="container">
	<br>
		<div class="jumbotron">
			<h1 class="display-4">Send Message</h1>
			<br>
			<textarea id="message" class="form-control" placeholder="Your Message Here">
			</textarea>
			<br>
			<button id="send" onclick="buttonClicked()" class="btn btn-success">Send</button>
		</div>
		<chat></chat>
	</div>

	<script>
		let messages = []

   	var socket = io();

		window.onload = function() {
			$.get('/messages', (data) => {
				data.forEach(addMessages);
			})	
		}
		 
		function buttonClicked() {
      sendMessage({name: "{{name}}", message: $("#message").val()});
			document.getElementById('message').value = ""
    }

		console.log("{{listener}}")

    socket.on("{{listener}}", addMessages)

    function addMessages(message) {
      messages.push(message)

			riot.mount("chat", {    // this is basically client-side rendering 
			});
    }

    function sendMessage(message) {
      $.post('/messages', message)
    }
	</script>

	<script src="https://code.jquery.com/jquery-3.4.1.js"
			integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
			crossorigin="anonymous">
	</script>

	<script type="riot/tag" src="/tags/topBar.html"></script>
	<script type="riot/tag" src="/tags/bottomBar.html"></script>
	<script type="riot/tag" src="/tags/chat.html"></script>
	<script>
			riot.mount("topBar", {    // this is basically client-side rendering 
			});
			riot.mount("bottomBar", {    // this is basically client-side rendering 
			});
			riot.mount("chat", {    // this is basically client-side rendering 
			});
	</script>
</body>
</html>
