<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="manifest" href="manifest.json">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.5/css/mdb.min.css" rel="stylesheet">        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <script src="https://cdn.jsdelivr.net/npm/riot@3.13/riot+compiler.min.js"></script>
        <script async src="https://cdn.jsdelivr.net/npm/pwacompat@2.0.9/pwacompat.min.js" integrity="sha384-VcI6S+HIsE80FVM1jgbd6WDFhzKYA0PecD/LcIyMQpT4fMJdijBh0I7Iblaacawc" crossorigin="anonymous"></script>
    </head>
    <body style="background-color: snow;  -webkit-user-select: none;-webkit-tap-highlight-color: transparent; -webkit-touch-callout: none;">
        <topBar id="topBar"></topBar>
        <bottomBar id="bottombar"></bottomBar>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="riot/tag" src="/tags/topBar.html"></script>
        <script type="riot/tag" src="/tags/bottomBar.html"></script>
        <div class="card-deck">
            <!-- Card image -->
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">What is Depression?</h5>
                <p class="card-text">Depression is a mental illness which affects millions of people. It negatively affects the way you feel and how you act. 
                    It causes feelings of sadness and/or loss of interest. 
                </p>
                </div>
            </div>
            <br><br>
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">How can you help yourself or a friend with Depression?</h5>
                <p class="card-text">While depresison is a mental illness which seems very scary, people can often recieve help and become better. While friends can help the patient take the first step, the person eventually needs to see a doctor for treatment. This app will allow them to determine if they are indeed may be depressed and if they may need to seek medical treatment. </p>
                </div>
            </div>
            <br><br>
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">How can you get in contact with a medical professional or a counselor?</h5>
                <p class="card-text">One way to contact medical professionals is through this app. Using the chat feature, one can get in contact with both medical professionals and peer counselors. They can also contact their local hospital for information regarding mental health and treatment of mental illnesses.</p>
                </div>
            </div>
            <br><br>
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Where can a depresssed person go for immediate help?</h5>
                <p class="card-text">If a depressed person needs immediate mental help, they should contact 911 or the Suicide Prevention Hotline at 1-800-273-8255</p>
                </div>
            </div>
        </div>
        <br><br><br><br><br>
        <script>
            riot.mount("topBar", {    // this is basically client-side rendering 
            });

            riot.mount("bottomBar", {    // this is basically client-side rendering 
            });
        </script>
    </body>
</html>
