<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/riot@3.13/riot+compiler.min.js"></script>
    </head>
    <body>
        <div>
            <p style="display: inline-block">Welcome {{user_name}}!</p>
            <a style="display: inline-block"><button onclick="window.location.href='/logout'">Logout</button></a>
        </div>
        <br>
        <customButton id="LOADING STATION HATCH"></customButton>
        <customButton id="LOADING STATION CARGO"></customButton>
        <bottomBar>
            <menuButton name="survey"></menuButton>
        </bottomBar>
        
    </body>
    <script type="riot/tag" src="/tags/customButton.html"></script>
    <script>
            riot.mount(document.getElementById("LOADING STATION HATCH"), {    // this is basically client-side rendering 
                title: 'LOADING STATION HATCH',
                buttonType: "blue",
                id: 'lsi'
            });
    </script>
</html>
