<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/riot@3.13/riot+compiler.min.js"></script>
    </head>
    <body style="background-color: snow;">
        <topBar id="topBar"></topBar>
        <bottomBar id="bottombar"></bottomBar>
        <form method="POST" action="/survey/submit">
            1. Little interest or pleasure in doing things
            <select name="interest">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select> 
            <br>
            2. Feeling down, depressed, or hopeless
            <select name="down">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select> 
            <br>
            3. Trouble falling or staying asleep, or sleeping too much
            <select name="asleep">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select> 
            <br>
            4. Feeling tired or having little energy
            <select name="tired">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select> 
            <br>
            5. Poor appetite or overeating
            <select name="appetite">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select> 
            <br>
            6. Feeling bad about yourself or that you are a failure or
have let yourself or your family down
            <select name="feeling">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select> 
            <br>
            7. Trouble concentrating on things
            <select name="concentrating">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select> 
            <br>
            8. Moving or speaking so slowly that other people could
have noticed. Or the opposite being so figety or
restless that you have been moving around a lot more
than usual
            <select name="slow">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select> 
            <br>
            9. Thoughts that you would be better off dead, or of
            hurting yourself
            <select name="death">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select> 
<br>
            <input type="submit" value="Submit">
        </form>

        <script type="riot/tag" src="/tags/topBar.html"></script>
        <script type="riot/tag" src="/tags/bottomBar.html"></script>
        <script>
            riot.mount("topBar", {    // this is basically client-side rendering 
            });
            riot.mount("bottomBar", {    // this is basically client-side rendering 
            });
        </script>
    </body>
</html>
